body{

    margin: 0;
    padding: 10px;
    font-family: 'Schibsted Grotesk', sans-serif;background-color: black;  
}


p, h1, h2,ul {
    color: white;
    
}

h1{
    display: flex;
    justify-content: center;
}

.imagem-1{
    width: 100%;
    height: auto;
    margin-top: 0%; 
}

.sobre {
    margin: 5px;
    width: 50%;
    text-align: left;
    max-width: 45%;
    
}

.trailer {
    position: relative;   
    left: 625px;  
    bottom: 340px;   
}



