body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}

header {
    background-color: #333;
    color: #fff;
    
}

nav {
    display: flex;
    justify-content: left;

}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    background-color: violet;
}

section {
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    text-align: justify; 
   
}

ol {       

}

li {
    text-align: justify; 

}
    

.contact {

}

label {
    display: block;
    font-weight: bold;
    
}

input[type="text"],
input[type="email"],
textarea  {

 quero colocar do lado direito;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}