body{

  background-image: url(../img/franquia-piratas-do-caribe.jpg);
  height: 180vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: left;
  
}

p, h1, h2,ul {
    color: rgb(248, 245, 242);
    
}

form label {
    display: inline-block;
    
}
form textarea, input, select {
    display: block;
    border-radius: 2px;
    border: none;
    background: #DDDDDD;
    clear: both;
    margin-bottom: 10px;
}


.email {
    width: 40px;
    margin: 0%;
    display: inline-flex;
}

form textarea {
    width: 425px;
    padding: 10px;
    height: 100px;
}

button {
    color: #7E459B;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    
}

header{
    display: flex;
    justify-content: center;
}

.sobre {
    margin: 5px;
    width: 50%;
    text-align: left;
    
}